<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="success-component-styles.html">
<link rel="import" href="../diy-receipt/diy-receipt.html">
<dom-module id="success-component">
  <template>
    <style include="success-component-styles"></style>
    <diy-receipt items="[[exito]]"></diy-receipt>
  </template>
  <script src="success-component.js"></script>
</dom-module>